<section class="bg-main-light ">
    <div class="container">
        <div class="row py-2">
            <h2>Get the Fresh App</h2>
            <p> we will send you a link, open it on your phone to download the app.</p>
    
       
        <div class="col-md-10">
            <input type="text" class="form-control" name="" id="" placeholder="Email..">
    
        </div>
        <div class="col-md-2">
            <button class="btn bg-main text-white">share app link</button>
        </div>
        <hr class="my-2">

        <div class="col-md-6 d-flex align-items-center">
            <p class="w-50 mb-0">Payments partners</p>
            <img src="../../assets/images/payments.png" class="w-50" alt="">
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p class=" w-50 mb-0">Get deliveries with Freshcrat </p>
            <img src="../../assets/images/app.png" class="w-50" alt="">

        </div>
    </div>
    
    </div>
</section>